.company-menu {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-top: 120px;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .company-menu {
    margin-top: 30px;
    margin-left: 20px;
  }

}

.company-menu__logo {
  width: 130px;
}

.header__welcome {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  margin-bottom: 70px;
}

.header__welcome__message {
  font-size: 24px;
  font-weight: 500;
}

.header__options {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: center;
  column-gap: 60px;
}

@media screen and (max-width: 425px) {
  .header__options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    row-gap: 25px;
  }

}

.header__small-button:first-child {
  justify-self: start;
}

.header__icon {
  background-color: #FCD5B7;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__small-button__text {
  margin-top: 12px;
}

.header__button {
  justify-self: end;

}

.header__button__link {
  display: block;
  width: 300px;
  height: 100px;
  background-image: url(../../../assets/circle.svg);
  background-repeat: no-repeat;
  background-color: var(--orange);
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-position: 255px -0px;
  gap: 26px;
  padding: 0 28px;
}

.header__button__image {
  width: 80px;
  position: relative;
  bottom: 14px;

}

.header__button__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  color: white;
}
