<div class="schedules">
  <app-company-menu></app-company-menu>
  <section class="section">
    <a [routerLink]="['/']" class="link_back">
      <img
        class="arrow"
        src="../../../../assets/arrow-left.svg"
        alt="Imagem flecha para a esquerda"
      />
    </a>
    <h1 class="title">Todos os <span class="bold">Agendamentos</span></h1>
    <div class="search">
      <app-search-input
        placeholder="Nome do animal"
        link="https://"
      ></app-search-input>
    </div>
    <div class="table">
      <app-table
        *ngIf="isDesktop"
        heads-name="['nome', 'tipo de agendamento', 'data', 'situação']"
        [rows]="getAllAgendamentos()"
        table-type="schedule"
      ></app-table>
      <app-table-mobile
        *ngIf="isMobile"
        [rows]="getAllAgendamentos()"
        table-type="schedule"
      ></app-table-mobile>
    </div>
  </section>
</div>
