<div class="schedules">
  <app-company-menu></app-company-menu>
<section class="section">
  <a href="https://" class="link_back">
    <img class="arrow" src="../../../../assets/arrow-left.svg" alt="Imagem flecha para a esquerda">
  </a>
  <h1 class="title">Todos os <span class="bold">Agendamentos</span></h1>
  <div class="search">
    <app-search-input
    placeholder="Nome do animal"
    link="https://"
    ></app-search-input>
  </div>
  <div class="table">
    <app-table
  heads-name="['nome', 'tipo de agendamento', 'data', 'situação']"
  rows="[['Pedrinho', 'vacinação', '20/03/2024 - 13:30', 'agendado'],
  ['Pedrinho', 'vacinação', '20/03/2024 - 13:30', 'cancelado'],
  ['Pedrinho', 'vacinação', '20/03/2024 - 13:30', 'pendente'],
  ['Pedrinho', 'vacinação', '20/03/2024 - 13:30', 'cancelado']]"
  table-type="schedule"
  ></app-table>
  </div>
</section>
</div>
