<section class="login">
  <img
    src="../../../../assets/logo-petshop.jpg"
    alt="Logo petshop"
    class="login__image"
  />
  <p class="login__text">
    Entre com o cpf e senha fornecido pelo <span class="bold">petshop</span>!
  </p>
  <form action="" class="form">
    <app-input
      label-name="cpf"
      placeholder="123-456-789-01"
      input-type="text"
    ></app-input>
    <app-input
      label-name="password"
      placeholder="*******"
      input-type="password"
    ></app-input>
  </form>

  <button class="login__button" (click)="logar()">Entrar</button>
</section>
