.login {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 60px;
  border: solid 1px var(--gray);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.login__image {
  align-self: center;
  width: 220px;
}

.login__text {
  font-size: 24px;
  margin: 60px 0 0px 0;
  line-height: 28px;
  width: 70%;
}

.form__div {
  margin-top: 45px;
}

.form__button {
  margin-top: 60px;
}
