<section class="login">
  <img src="../../../../assets/logo-petshop.jpg" alt="Logo petshop" class="login__image">
  <p class="login__text">Entre com o cpf e senha
    fornecido pelo <span class="bold">petshop</span>!</p>
  <form action="" class="form">
    <app-input labelName="cpf" placeholder="123-456-789-01" inputType="text"></app-input>
    <app-input labelName="password" placeholder="*******" inputType="password"></app-input>
  </form>

  <button class="login__button">Entrar</button>
</section>
