<section [ngClass]="modalClasses">
  <div class="modal__section">
    <div class="modal__image"></div>
    <div class="modal__text">
      <h2 class="modal__title">Agendamento pendente!</h2>
      <p class="modal__paragraph">
        O agendamento foi enviado para nós e
        <span class="--is-bold"
          >entraremos em contato com você para confirmar.</span
        >
        Qualquer dúvidas, por favor, entre em contato com a gente!
      </p>
      <button (click)="efetuarAgendamento()" class="form__button">
        Eu entendo
      </button>
    </div>
  </div>
</section>

<app-company-menu></app-company-menu>
<div class="make-schedule">
  <section class="section">
    <a [routerLink]="['/']" class="link_back">
      <img
        class="arrow"
        src="../../../../assets/arrow-left.svg"
        alt="Imagem flecha para a esquerda"
      />
    </a>
    <h1 class="title">
      Efetue o <span class="--is-bold">agendamento</span> do seu pet!
    </h1>

    <form
      [formGroup]="makeScheduleForm"
      (ngSubmit)="mostrarMensagem($event)"
      class="form"
    >
      <div class="form__div">
        <label for="animais" class="form__label">Nome do pet</label>
        <select
          name="animais"
          id="animais"
          class="form__input"
          formControlName="animais"
        >
          <option value="bolinha">Bolinha</option>
          <option value="rex" selected>Rex</option>
          <option value="totó">Totó</option>
        </select>

        <div
          *ngIf="
            makeScheduleForm.controls.animais.invalid &&
            (makeScheduleForm.controls.animais.dirty ||
              makeScheduleForm.controls.animais.touched)
          "
        >
          <p
            *ngIf="makeScheduleForm.controls.animais.errors?.['required']"
            class="form__message"
          >
            Esse campo é obrigatório.
          </p>
        </div>
      </div>

      <div class="form__div">
        <label for="agendamento" class="form__label">Tipo de agendamento</label>
        <select
          name="agendamento"
          id="agendamento"
          class="form__input"
          formControlName="tipoAgendamento"
        >
          <option value="banho_e_tosa">Banho e tosa</option>
          <option value="consulta" selected>Consulta</option>
          <option value="vacina">Vacina</option>
        </select>

        <div
          *ngIf="
            makeScheduleForm.controls.tipoAgendamento.invalid &&
            (makeScheduleForm.controls.tipoAgendamento.dirty ||
              makeScheduleForm.controls.tipoAgendamento.touched)
          "
        >
          <p
            *ngIf="makeScheduleForm.controls.tipoAgendamento.errors?.['required']"
            class="form__message"
          >
            Esse campo é obrigatório.
          </p>
        </div>
      </div>

      <div class="form__div">
        <label for="data" class="form__label">Data do serviço</label>
        <input
          type="date"
          name="data"
          id="data"
          class="form__input"
          formControlName="data"
        />
        <div
          *ngIf="
            makeScheduleForm.controls.data.invalid &&
            (makeScheduleForm.controls.data.dirty ||
              makeScheduleForm.controls.data.touched)
          "
        >
          <p
            *ngIf="makeScheduleForm.controls.data.errors?.['required']"
            class="form__message"
          >
            Esse campo é obrigatório.
          </p>
        </div>
      </div>

      <div class="form__div">
        <label for="descricao" class="form__label"
          >Descrição do serviço (opcional)</label
        >
        <input
          type="text"
          name="descricao"
          id="descricao"
          class="form__input"
          formControlName="descricao"
        />
      </div>
      <button
        type="submit"
        class="form__button"
        [disabled]="!makeScheduleForm.valid"
      >
        Agendar
      </button>
    </form>
  </section>
</div>
