
.submit-button {
  background-color: var(--orange);
  padding: 14px;
  color: var(--white);
  border: none;
  border-radius: 12px;
  font-weight: 600;
  max-width: 360px;
  margin-top: 60px;
  font-size: 14px;
  letter-spacing: 1px;
}

.submit-button:hover {
  cursor: pointer;
}
