.--is-disable {
  display: none;
}

.--is-enable {
  display: block;
}

.--is-bold {
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 12%, 0.062);
  z-index: 99;
}

.modal__section {
  margin: 60px auto;
  width: 450px;
  background-color: white;
  border-radius: 14px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.modal__image {
  background: url("../../../../assets/modal-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border: solid 1px var(--gray);
  border-bottom: 0;
  border-radius: 14px 14px 0 0;
}

.modal__text {
  padding: 30px;
  border: solid 1px var(--gray);
  border-top: 0;
  border-radius: 0 0 14px 14px;
}

@media screen and (max-width: 622px) {
  .modal__section {
    width: 80%;
  }
}

@media screen and (max-width: 440px) {
  .modal {
    background-color: white;
  }

  .modal__section {
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .modal__image,
  .modal__text {
    border-radius: 0;
    border: none;
  }
}

.modal__paragraph {
  margin: 30px 0;
  line-height: 24px;
}

.arrow {
  width: 22px;
}

.title {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 500;
}

select {
  background-color: white;
}

.form__div {
  margin-bottom: 50px;
}

.form__button {
  margin-top: 20px;
}
