<app-company-menu></app-company-menu>
<div class="make-schedule">
  <section class="section">
    <select name="animal" id="animal">
      <option value="bolinha">Bolinha</option>
      <option value="cadusa">Cadusa</option>
      <option value="Maria">Maria</option>
    </select>
    <select name="agendamento" id="agendamento">
      <option value="bolinha">Banho e tosa</option>
      <option value="cadusa">Consulta</option>
      <option value="Maria">Vacina</option>
    </select>
    <app-input
    label-name="Data do serviço"
    input-type="date"
    ></app-input>
    <app-input
    label-name="Descrição do serviço (opcional)"
    placeholder="ex: Ele está com uma ferida no braço"
    input-type="text"
    ></app-input>
    <button class="submit-button">Efetuar Agendamento</button>
  </section>
</div>
