<div [ngSwitch]="tableType">
  <section class="section" *ngSwitchCase="'schedule'">
    <div class="table" *ngFor="let row of rows">
      <div class="info">
        <p class="name">{{ row[0] }}</p>
        <p class="type">{{ row[1] }}</p>
      </div>
      <div [ngClass]="row[3]">{{ row[3] }}</div>
      <div class="data">{{ row[2] }}</div>
    </div>
  </section>
  <section class="section" *ngSwitchCase="'vaccine'">
    <div class="table" *ngFor="let row of rows">
      <div class="info">
        <p class="name">{{ row[0] }}</p>
        <p class="type">{{ row[1] }}</p>
      </div>
      <div class="data">{{ row[2] }}</div>
    </div>
  </section>
</div>
