/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --orange: #fd9340;
  --white: white;
  --gray: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--orange);
  text-decoration: none;
}

body {
  background-image: url("./assets/pattern_small.png");
  background-color: #f6f6f6;
  background-repeat: repeat;
  background-position: left bottom;
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
}

@media screen and (max-width: 768px) {
  body {
    background: none;
    background-color: white;
  }
}

.bold {
  font-weight: 700;
}

.footer {
  background-color: #171717;
  width: 100%;
  padding: 120px 0 120px 0;
  margin-top: 120px;
}

.footer,
.footer__copyright,
.footer__year {
  color: white;
  text-align: center;
}

.footer__year {
  font-weight: 700;
  margin-top: 13px;
}
