table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: solid 1px var(--light-gray);
}

th {
  font-weight: 400;
  font-size: 15px;
  color: var(--gray);
  text-align: left;
  padding-bottom: 16px;
}

td {
  border-top: solid 1px var(--light-gray);
  padding: 15px 0;
  margin: 0px 10px;
  width: 20%;
}

td:first-child,
.agendado,
.cancelado,
.pendente {
  font-weight: 600;
}

.agendado {
  color: #18a526;
}

.cancelado {
  color: #a00c0c;
}

.pendente {
  color: var(--orange);
}

.text-center {
  text-align: center;
}
