<div [ngSwitch]="tableType">
  <div *ngSwitchCase="'vaccine'">
    <table>
      <tr>
        <th *ngFor="let head of tableHeads">{{ head }}</th>
      </tr>
      <tr *ngFor="let row of rows">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ data.formatDate(row[2]) }}</td>
        <td [ngClass]="stringUtils.toLowerCase(row[3])">
          {{ stringUtils.toLowerCase(row[3]) }}
        </td>
      </tr>
    </table>
  </div>
  <div *ngSwitchCase="'schedule'">
    <table>
      <tr>
        <th *ngFor="let head of tableHeads">{{ head }}</th>
      </tr>
      <tr *ngFor="let row of rows">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ data.formatDate(row[2]) }}</td>
        <td [ngClass]="stringUtils.toLowerCase(row[3])">
          {{ stringUtils.toLowerCase(row[3]) }}
        </td>
      </tr>
    </table>
  </div>
</div>
